/* здесь используйте глобальные переменные */
//text
$main-text: "Lato", sans-serif;
$content-text: "Oswald", sans-serif;


//color-text
$base-color-text: #444444; 
$content-color-text: #000000;
$second-color-text: #FFFFFF;


//view
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 767px;


$color-button: #68B738;