
.features__item {
  
    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-color: $main-color;
      background-repeat: no-repeat;
      background-size: 30px 32px;
      background-position: center;
    }
  
    &--healthy::before {
      background-image: url("../../icons/stack.svg#healthy");
    }
  
    &--handy::before {
      background-image: url("../../icons/stack.svg#handy");
    }
  
    &--swap::before {
      background-image: url("../../icons/stack.svg#swap");
    }
  
    &--upgrade::before {
      background-image: url("../../icons/stack.svg#upgrade");
    }

.features {

}

.features__title {
    font-family: $content-text;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: $content-color-text;
}

.features__desc {
    font-size: 14px;
    line-height: 18px;

}