.features {

}

.features__title {
    font-family: $content-text;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: $content-color-text;
}

.features__desc {
    font-size: 14px;
    line-height: 18px;
}