.promo {

}

.promo__title {
    font-family: $content-text;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: $content-color-text;
}

.promo__desc {
    font-family: $content-text;
    font-size: 16px;
    line-height: 24px;
    color: $content-color-text;
}