
 .slider__button {
    display: block;
    position: relative;
    background-color: #fff;
    border: none;


    
    &::before {
        border: 2px solid #666666;
        border-radius: 50%;
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        mask-image: url("../../icons/stack.svg#cat-slider");
        mask-size: 24px 18px;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color:  #666666;
        
    }

}